body {
  margin: 0;
}
.container {
  text-align: center;
  background-image: url("oceansmall.jpg");
  background-repeat:no-repeat;
  background-size: cover;
  height: 100%;
  font-family: HelveticaNeue;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.header {
  padding-top: 140px;
  font-weight: bold;
  font-size: 25px;
}

.body {
  margin-top: 100px;
  font-size: 20px;
  text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
  font-family: helvetica;
}
